.gallery_images_container {
  position: relative;
}

#heart_icon_image {
  width: 50px;
  position: absolute;
  z-index: 10;
  /* margin-top: 95px;
  margin-left: -55px; */
}

.gallery_images, .gallery_images_favouriteImages {
  display: block;
  height:300px;
  object-fit: cover;
}