.gallery_images_container {
  position: relative;
  height:300px;
}

#heart_icon_image {
  width: 50px;
  position: absolute;
  z-index: 10;
  bottom: 0px;
  right: 35px;
}

.gallery_images, .gallery_images_favouriteImages {
  display: block;
  height:300px;
  object-fit: cover;
}