.gallery_images_container {
  position: relative;
}

#heart_icon_image {
  width: 50px;
  position: absolute;
  z-index: 10;
  margin-top: 95px;
  margin-left: -55px;
} 

/* .gallery_images { 
  z-index: -2;
 }
  */

  .gallery_images {
    /* pointer-events: none;
    cursor: default;
    text-decoration: none; */
    display:block;
    /* z-index: -2; */
  }